@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

:root {
  --cir-1: #052b2f;
  --cir-2: #f8f8f8;
  --cir-3: #00b9ca;
  --cir-4: #2d8f85;
  --cir-5: #637c54;
}

.card{}
.card {
  width: 100px;
  height: 70px;
  aspect-ratio: 1/1.5;
  background: var(--cir-1);
  border-radius: 0.5rem;
  position: relative;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  inset: -2px;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--cir-2),
    var(--cir-3)
   
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
  z-index: -1;
}

.card::before {
  filter: blur(5.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
